body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #121212;
    color: #e0e0e0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1e1e1e;
}

table,
th,
td {
    border: 1px solid #333;
}

th,
td {
    padding: 8px;
    text-align: center;
    color: #e0e0e0;
}

th {
    background-color: #333;
    cursor: pointer;
}

.highlight {
    background-color: #333;
}

.recommend {
    background-color: #444;
}

#suggestions {
    position: absolute;
    background-color: #1e1e1e;
    border: 1px solid #333;
    color: #e0e0e0;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

#suggestions div {
    padding: 8px;
    cursor: pointer;
}

#suggestions div:hover,
#suggestions div.highlighted {
    background-color: #333;
}

.pinned-items-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px;
}

#pinnedItems {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 5px;
    margin-bottom: 20px;
}

.pinned-item-card {
    flex: 1;
    max-width: 16%;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.2s, background-color 0.2s;
}

.pinned-item-card:hover {
    transform: scale(1.05);
    background-color: #333;
}

.pinned-item-card.flashing-red {
    animation: flashRed 1s infinite alternate !important;
}

@keyframes flashRed {
    0% {
        background-color: rgba(255, 0, 0, 0.2);
    }

    100% {
        background-color: rgba(255, 0, 0, 0.5);
    }
}


.pinned-item-card h4 {
    font-size: 14px;
    margin: 5px 0;
}

.pinned-item-card p {
    font-size: 12px;
    margin: 0;
}